<section>
	WARNING: This page <em>DOES</em> contain spoilers for the final party member!
	Browse with caution!<br>
	<br>
	To reveal the spoilers, highlight or mouse over the hidden rows.<br>
	<br>
	To see additional details, press the + button. This will give the area the
	Heart to Heart can be found in as well as any prerequisites.
</section>
<section id="h2h-table">
	<table>
		<thead>
			<tr>
				<th class="hidden-cell"><button onclick="onClearH2Hs()">Reset</button></th>
				<th class="sort" onclick="sortByNum()">#</th>
				<th class="sort" onclick="sortByTitle()">Title</th>
				<th class="sort" colspan=2 onclick="sortByCharacters()">Characters</th>
				<th class="sort" onclick="sortByAffinity()">Affinity</th>
			</tr>
		</thead>
		{{#each h2hs}}
		<tbody id="h2h-{{this.sort_id}}" class="h2h-container">
			<tr class="h2h-row">
				<td rowspan=2>
					<button type="button" class="collapsed" onclick="onCollapseClick(this, {{this.sort_id}})"></button>
					<input type="checkbox" id="h2h-comp-{{this.sort_id}}" onchange="onH2HMarkerChange( this, {{this.sort_id}} )">
				</td>
				<td>{{this.sort_id}}</td>
				<td>{{this.title}}</td>
				<td>{{this.first_char}}</td>
				<td>{{this.second_char}}</td>
				<td>{{this.affinity_color}}</td>
			</tr>
			<tr class="h2h-subrow">
				<td colspan=5 class="left">
					Found: {{this.map}} {{#if this.time}}at night{{/if}}<br>
					{{#if this.story_ch}}
						Story Progress: Ch {{this.story_ch}}, {{this.story_beat}}<br>
					{{/if}}
				</td>
			</tr>
		</tbody>
		{{/each}}
	</table>
</section>
<script src="h2h.js"></script>
