<section>
	WARNING: This page <em>DOES</em> contain spoilers for Prison Island and
	beyond! Browse with caution!<br>
	<br>
	To reveal the spoilers, highlight or mouse over the hidden rows.
</section>
<section id="h2h-table">
	<table>
		<thead>
			<th class="hidden-cell"><button onclick="onClearH2Hs()">Reset</button></th>
			<th>#</th>
			<th>Title</th>
			<th colspan=2>Characters</th>
			<th>Affinity</th>
		</thead>
		<tbody>
			{{#each h2hs}}
			<tr id="h2h-{{this.sort_id}}" class="h2h-row">
				<td><input type="checkbox" id="h2h-comp-{{this.sort_id}}" onchange="onH2HMarkerChange( this, {{this.sort_id}} )"></td>
				<td>{{this.sort_id}}</td>
				<td>{{this.title}}</td>
				<td>{{this.first_char}}</td>
				<td>{{this.second_char}}</td>
				<td>{{this.affinity_color}}</td>
				<!-- Subrow: Time, story_ch/beat, map -->
				<!-- Add spoilers -->
			</tr>
			{{/each}}
		</tbody>
	</table>
</section>
<script src="h2h.js"></script>
