<section>
	WARNING: This page <em>DOES</em> contain implicit spoilers in the story
	progress column! Exercise caution!<br>
	<br>
	To see additional details, press the + button. This will give quest
	prerequisites, things which must be done before the quest becomes available.<br>
	<br>
	All information is pulled directly from the game's internal files. Some quests
	have scripted overrides on what must be done before they become available,
	which unfortunately I cannot decode. These quests are noted.
</section>
<section id="quest-table">
	<table>
		<thead>
			<tr>
				<th class="hidden-cell"><button onclick="onClearQuests()">Reset</button></th>
				<th class="sort" onclick="sortByNum()">#</th>
				<th class="sort" onclick="sortByTitle()">Title</th>
				<th class="sort" onclick="sortByClient()">Client</th>
				<th class="sort" onclick="sortByArea()">Area</th>
			</tr>
		</thead>
		{{#each quests}}
		<tbody id="quest-{{this.quest_num}}" class="quest-container">
			<tr class="quest-row">
				<td rowspan=2>
					<button type="button" class="collapsed" onclick="onCollapseClick(this, {{this.quest_num}})"></button>
					<input type="checkbox" id="quest-comp-{{this.quest_num}}" onchange="onQuestMarkerChange( this, {{this.quest_num}} )">
				</td>
				<td class="right">{{this.quest_num}}</td>
				<td>{{this.title}}</td>
				<td>{{this.client}}</td>
				<td>{{this.map}}</td>
				<!-- Subrow: genre -->
			</tr>
			<tr class="quest-subrow">
				<td colspan=4 class="left">
					{{#if this.story_ch}}
					Story Progress: Ch {{this.story_ch}}, {{this.story_beat}}<br>
					{{/if}}
					{{#if this.prereq_quest_title}}
					Prerequisite Quest: {{this.prereq_quest_title}}<br> <!-- ERROR: only have quest_req_id -->
					{{/if}}
					{{#if this.quest_fame_region}}
					Fame Requirement: {{this.quest_fame_stars}} with {{this.quest_fame_region}}<br>
					{{/if}}
					{{#if this.npc_meet1}}
					Met {{this.npc_meet1}}<br>
					{{/if}}
					{{#if this.npc_meet2}}
					Met {{this.npc_meet2}}<br>
					{{/if}}
					{{#if this.ac_link_status}}
					Affinity Link between {{this.ac_link_char1}} and {{this.ac_link_char2}}: "{{this.ac_link_status}}"<br>
					{{/if}}
				</td>
			</tr>
		</tbody>
		{{/each}}
	</table>
</section>
<script src="quests.js"></script>
