<section>
	WARNING: This page <em>DOES</em> contain implicit spoilers in the story
	progress column! Exercise caution!
</section>
<section id="quest-table">
	<table>
		<thead>
			<tr>
				<th class="hidden-cell"><button onclick="onClearQuests()">Reset</button></th>
				<th>#</th>
				<th>Title</th>
				<th>Client</th>
				<th>Area</th>
			</tr>
		</thead>
		<tbody>
			{{#each quests}}
			<tr id="quest-{{this.quest_num}}" class="quest-row">
				<td><input type="checkbox" id="quest-comp-{{this.quest_num}}" onchange="onQuestMarkerChange( this, {{this.quest_num}} )"></td>
				<td class="right">{{this.quest_num}}</td>
				<td>{{this.title}}</td>
				<td>{{this.client}}</td>
				<td>{{this.map}}</td>
				<!-- Subrow: genre, story_ch/beat, prereq_quest_title, fame_region/stars -->
				<!-- npc_meet1/2, ac_link_char1/char2/status -->
			</tr>
			{{/each}}
		</tbody>
	</table>
</section>
<script src="quests.js"></script>
